body{
  background-color: blue;
  background-image: url(../images/image.jpeg)
}
.container{
  background-color: #441D25;
  font-family: system-ui
}
h1{
  text-align: center;
  text-decoration: underline;
}
h3{
  text-decoration: underline;
}
.p1{
  font-size: 15px;
}
.p4{
  text-align: center;
}
/*#col1{
  float: left;
}
#col2{
  float: right;
}*/
.hold1{
  float: left;
  font-size: 100px;
}
.p2{
  text-align:center;
}
.p3{
  text-align: center;
}
