body{
  background-color: blue;
  background-image: url(../images/image.jpeg)
}
.container{
  background-color: #441D25;
  font-family: system-ui
}
h1{
  text-align: center;
  text-decoration: underline;
}
h3{
  text-decoration: underline;
}
.p1{
  font-size: 15px;
}
.col-md-6{
  background-color: #429F6C;
}
#col1{
  float: left;
}
#col2{
  float: right;
  position: inherit;
}
